:root {
  --main-bg-color: #FCFAFA;
  --start-bg-color:  #6E8387;
  --start-border-color: #444554;

  --end-bg-color: #dee4e0;
  --end-border-color: #6A868A;

  --font-color: #172121;
  --contract-color: #683257;
}

h1 {
    color: green;
}

div.in {
    background-color: var(--start-bg-color);
    border-color: var(--start-border-color);
    border-style: solid;
    border-width: 1px;
    margin: 5;
    padding: 10;
    display: flex;
    justify-content: space-around;
    grid-area: in;
    border-radius: 10px;

}

div.in_planner {
    background-color: var(--start-bg-color);
    border-color: var(--start-border-color);
    border-style: solid;
    border-width: 1px;
    margin: 5;
    padding: 10;
    grid-area: in;
    border-radius: 10px;

}

div.out {
    background-color: var(--end-bg-color);
    border-color: var(--end-border-color);
    border-style: solid;
    border-width: 1px;
    margin: 5;
    padding: 10;
    position: relative;
    float: right;
}

div.out_container {
    background-color: var(--end-bg-color);
    border-color: var(--end-border-color);
    border-style: solid;
    border-width: 1px;
    margin: 5;
    padding: 5;
    position: relative;
    float: right;
}

div.total {
    background-color: var(--end-bg-color);
    border-color: var(--end-border-color);
    border-style: solid;
    border-width: 1px;
    margin: 5;
    padding: 10;
    float: right;
    font-size: 14px;
    grid-area: total;
    border-radius: 10px;

}

div.recipe {
    background-color: #80808026;
    border-color: #3871a2;
    border-width: thin;
    border-style: solid;

}

div.time {
    border: aqua;
    font-style: italic;
    padding: 10;
}

select {
    padding: 5;
}

input, select {
    padding: 5px;
    margin: 1px;

}

body {
    font-family: roboto, system-ui;
    font-size: 14px;
    background-color: var(--main-bg-color);
}


body.crafting_page {
    display: grid;
    grid-template-columns: 10% 17% 17% 17% 17% 17%;
    grid-auto-flow: row;
    grid-template-areas:
    'menu in in in in in'
    'menu smelting crafting chemistry jewelling planting';
    /*grid-template-rows: auto auto auto auto;*/
    grid-gap: 5px;
}

body.planner_page {
    display: grid;
    grid-template-columns: 10% 40% 55%;
    grid-auto-flow: rows;
    grid-template-areas:
    'menu in out .'
    'menu in out .'
    'menu in out .';
    grid-gap: 5px;
}

body.mining_page {
    display: grid;
    grid-template-columns: 10% 40% 50%;
    grid-auto-flow: row;
    grid-template-areas:
    'menu in table'
    'menu out table '
    '. . table';
    /*grid-template-rows: auto auto auto auto;*/
    grid-gap: 5px;
}

div.div_input > label  input {
    float: right;
    width: 90px;
}
div.div_input {
    padding: 5px;
    margin: 10px;
}

div.menu {
    background-color: #F2FBE0;
    border-color: #3871a2;
    padding: 20;
    grid-area: menu;
    border-radius: 10px;

}

table {
    border-style: solid;
    border-width: 1;
    font-size: small;
    grid-area: table ;
}


table.planning {
    border-collapse: collapse;
    border: 1px solid #3871a2;
    border-spacing: 0px;
    font-family: monospace;
    font-size: medium;
}
table.planning > tbody > tr {
    height: 30px;
}

table.planning > tbody > tr:nth-child(2n)  {
    border: 1px solid #3871a2;
    background-color: var(--main-bg-color);
}



select {
  width: 300px;
  border-radius:2px;
}

div.crafting {
 grid-area: crafting;
 border-radius: 8px;

}
div.smelting {
 grid-area: smelting;
 border-radius: 8px;
}

div.jewelling {
    grid-area: jewelling;
    border-radius: 8px;

}

div.chemistry  {
    grid-area: chemistry;
    border-radius: 8px;

}
div.planting  {
    grid-area: planting;
    border-radius: 8px;

}

div.header {
 font-size: 16px;
 font-weight: bold;
 padding: 10px;
 color: var(--main-bg-color);
 background: var(--start-bg-color);
 height: 20px;
 border-radius: 3px;
}

img {
      vertical-align: middle;
}

.debug {
    background-color: red;
}


div.two-col {
  display: flex;
  width: inherits;
}

select.medium_input {
    width: 180;
}

input.small_input {
    width: 100;
}

input.xsmall_input {
    width: 60;
}

div.light-bound {
    border-color: var(--main-bg-color);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    margin: 8px;
    padding: 8px;

}
