:root {
  --main-bg-color: #FCFAFA;
  --start-bg-color:  #6E8387;
  --start-border-color: #444554;

  --end-bg-color: #dee4e0;
  --end-border-color: #6A868A;

  --font-color: #172121;
  --contract-color: #683257;
}

h1 {
    color: green;
}

div.in {
    background-color: var(--start-bg-color);
    border-color: var(--start-border-color);
    border-style: solid;
    border-width: 1px;
    margin: 5;
    padding: 10;
    display: flex;
    justify-content: space-around;
    grid-area: in;
    border-radius: 10px;

}

div.out {
    background-color: var(--end-bg-color);
    border-color: var(--end-border-color);
    border-style: solid;
    border-width: 1px;
    margin: 5;
    padding: 10;
    position: relative;
    float: right;
}

div.total {
    background-color: var(--end-bg-color);
    border-color: var(--end-border-color);
    border-style: solid;
    border-width: 1px;
    margin: 5;
    padding: 10;
    float: right;
    font-size: 14px;
    grid-area: total;
    border-radius: 10px;

}

div.recipe {
    background-color: #80808026;
    border-color: #3871a2;
    border-width: thin;
    border-style: solid;

}

div.time {
    border: aqua;
    font-style: italic;
    padding: 20;
}

select {
    padding: 5;
}

input {
    padding: 5;

}

body.crafting_page {
    font-family: roboto;
    font-size: 14px;
    background-color: var(--main-bg-color);
    display: grid;
    grid-template-columns: 10% 17% 17% 17% 17% 17%;
    grid-auto-flow: row;
    grid-template-areas:
    'menu in in in in in'
    'menu smelting crafting chemistry jewelling planting';
    /*grid-template-rows: auto auto auto auto;*/
    grid-gap: 5px;
}

body.mining_page {
    font-family: roboto;
    font-size: 14px;
    background-color: var(--main-bg-color);
    display: grid;
    grid-template-columns: 10% 40% 50%;
    grid-auto-flow: row;
    grid-template-areas:
    'menu in table'
    'menu out table '
    '. . table';
    /*grid-template-rows: auto auto auto auto;*/
    grid-gap: 5px;
}

div.div_input > label  input {
    float: right;
    width: 90px;
}
div.div_input {
    padding: 5px;
    margin: 5px;
}

div.menu {
    background-color: #F2FBE0;
    border-color: #3871a2;
    padding: 20;
    grid-area: menu;
    border-radius: 10px;

}

table {
    border-style: solid;
    border-width: 1;
    font-size: small;
    grid-area: table ;
}

select {
  width: 300px;
  border-radius:2px;
}

div.crafting {
 grid-area: crafting;
 border-radius: 10px;

}
div.smelting {
 grid-area: smelting;
 border-radius: 10px;
}

div.jewelling {
    grid-area: jewelling;
    border-radius: 10px;

}

div.chemistry  {
    grid-area: chemistry;
    border-radius: 10px;

}
div.planting  {
    grid-area: planting;
    border-radius: 10px;

}

div.header {
 font-size: 18px;
 font-style: bold;
 padding: 10px;
 font-color: var(--font-color);
 height: 20px;
}