h1 {
    color: green;
}

div.in {
    background-color: #837A75;
    border-color: #605B56;
    border-style: solid;
    border-width: 1px;
    margin: 5;
    padding: 10;
    width: 30%
    position: relative;
    float: left;
    grid-area: in;

}

div.out {
    background-color: #DAFEB7;
    border-color: #ACC18A;
    border-style: solid;
    border-width: 1px;
    margin: 5;
    padding: 10;
    position: relative;
    float: right;
}

div.total {
    background-color: #DAFEB7;
    border-color: #ACC18A;
    border-style: solid;
    border-width: 1px;
    margin: 5;
    padding: 10;
    position: relative;
    float: left;
    font-size: 14px;
    grid-area: total;

}

div.recipe {
    background-color: #80808026;
    border-color: #3871a2;
    border-width: thin;
    border-style: solid;

}

div.time {
    border: aqua;
    font-style: italic;
    padding: 20;
}

select {
    padding: 5;
}

input {
    padding: 5;

}

body {
    font-family: roboto;
    font-size: 14px;
    background-color: #EDFFEC;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-auto-flow: row;
    grid-template-areas:
    'menu in in in total'
    'smelting crafting chemistry jewelling other';
    /*grid-template-rows: auto auto auto auto;*/
    grid-gap: 5px;
}
div.menu {
    background-color: #F2FBE0;
    border-color: #3871a2;
    padding: 20;
    grid-area: menu;

}

table {
    border-style: solid;
    border-width: 1;
    font-size: small;
    width: fit-content;
    grid-column: 4;
    grid-row: 2;
}

select {
  width: 300px;
}

div.crafting {
 grid-area: crafting;
 display: flex;

}
div.smelting {
 grid-area: smelting;

}

div.jewelling {
    grid-area: jewelling;

}

div.chemistry  {
    grid-area: chemistry;

}

header {
 height: 20px;
}