<html>
<head>
    <title>Recipes</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <link rel="icon"
      type="image/png"
      href="{{ url_for('images', path='/favicon.ico') }}">
</head>
<body class="crafting_page">
    <div class="menu">
        <form method="post" action="reload_resources">
            <input type="submit" value="Reload Res"/>
        </form>
        <form method="get" action="items">
            <input type="submit" value="I want Crafting"/>
        </form>
        <form method="get" action="mines">
            <input type="submit" value="I want Mining"/>
        </form>
    </div>

    <div class="in">
        <!-- Block with recipe output -->
        <div>
            <div class="header">Choose recipe and quantity:</div>
            <form method="post" action="items">
                <select name="res">
                    {% for operation, recipe in recipes_for_dropdown.items() %}
                        <option disabled> ==== {{ operation }} ==== </option>
                        {% for recipe_key, recipe_name in recipe.items() %}
                            <option value="{{ recipe_key }}"
                            {%- if  recipe_key == last_selected_item -%} selected {% endif %}
                            >{{ recipe_name }}</option>
                        {% endfor %}
                    {% endfor %}
                </select>
                <input type="number" name="count" value="{{ last_selected_count }}"/>
                <input type="submit"/>
            </form>
            <!-- END Block with initial forms -->
            <!--  Show total resources -->
        </div>

        {% if total %}
            <div class="total">
                <b>All ingredients:</b> <br>
            {% for ingr in total %}
                <p>{{ ingr }} </p>
            {% endfor %}
            </div>
        {% endif %}
    </div>


    <!--  Block with recipes and subrecipes -->
    {% macro insert_recipe(operation) %}
        {% for uuid, recipe in opened_recipes.items() %}
        {% if recipe.operation == operation %}
        <div class="out">
                    <form method="post" action="del_product">
                        <input type="text" name="uuid" value="{{ uuid }}" hidden>
                        <label>
                            {% if uuid != '0' %}
                            <input type="submit" value="-" width="8" height="8">
                            {% endif %}
                            {% set img_url =  '/ui-mat-' ~ (recipe.in.name|lower|replace('_', '-') | replace(' ', '-'))  ~ '.png' %}
                            <img src="{{ url_for('images', path=img_url) }}" alt="{{ recipe.in }}" width="25">
                            <b> {{ recipe.in }} </b>
                        </label>
                    </form>

                {% for ingr in recipe.out %}
                    <form method="post" action="add_product">
                        <div>{{ ingr }}
                            <input type="text" name="name" value="{{ ingr.name}} " hidden/>
                            <input type="text" name="count" value="{{ ingr.count }}" hidden/>
                            <input type="text"  name="uuid" value="{{ ingr.uuid }}" hidden/>
                            {%  if ingr.exists and ingr.uuid not in opened_recipes.keys() %}
                                <input type="submit" value="+" width="8" height="8"/>
                            {% endif %}

                        </div>
                    </form>

                {% endfor %}
                <div class="time">Required time: {{ recipe.time }} </div>
                </div>
        {% endif %}
        {% endfor %}
    {% endmacro %}
    {% if opened_recipes.keys() | length %}
    <div class="out smelting"><div class="header">Smelting</div>
            {{ insert_recipe("smelting") }}
        </div>
    <div class="out crafting"><div class="header">Crafting</div>
            {{ insert_recipe("crafting") }}
        </div>
    <div class="out chemistry"><div class="header">Chemistry</div>
            {{ insert_recipe("chemistry") }}
        </div>
    <div class="out jewelling"><div class="header">Jewelling</div>
            {{ insert_recipe("jewelling") }}
        </div>
        <div class="out planting"><div class="header">Planting</div>
            {{ insert_recipe("planting") }}
        </div>

        <!-- Find all opened frames with recipes -->
    {% endif %}
    <!-- END Block with recipes -->


</body>
</html>
