{% import "macros.jinja" as macros %}
<html>
<head>
    <title>Mines</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <link rel="icon"
      type="image/png"
      href="{{ url_for('images', path='/favicon.ico') }}">
</head>
<body class="mining_page">
        {{ macros.menu() }}

        <table>
        {% for mine_area, mine_elements in mines.items() %}
        <tr>
            <td><b>{{ mine_area }}</b></td>
            {% for elem, value in mine_elements.items() %}
            <td align="center">
                {% set img_url = '/' ~ elem|replace('_', '-')  ~ '.png' %}
                <img src="{{ url_for('images', path=img_url) }}" alt="{{ elem }}" width="25"><br>{{ value }}
            </td>

            {% endfor %}
            <td></td>
        </tr>
        {% endfor %}
        </table>
    <div class="in">
        <form method="post" action="mines">
            <select name="item">
                I want to find:
                {% for element in elements %}
                <option name="{{ element }}"
                {%- if  element == last_selected_item -%} selected {% endif %}
                >{{ element }}</option>>
                {% endfor %}
            </select>

            <div class="div_input">
                <label> Count of mines
                <input type="number" name="mines_count" value="{{ last_mines_count }}" min=1 max=50></label>
            </div>
            <div class="div_input">
                <label> Mines level
                <input type="number" name="mines_level" value="{{ last_mines_level }}" min=1 max=9></label>
            </div>
            <div class="div_input">
                <label>Mining time (minutes)
                <input type="text" name="time_minutes" value="{{ last_time_minutes }}">  </label>
            </div>
            <div class="div_input">
                <label>Max Area to dig
                <input type="number" name="max_area" value="{{ last_max_area }}">  </label>
            </div>
            <input type="submit" value="Check">
        </form>
    </div>
    {% if result %}
    <div class="out">
        {{ result }}
    </div>
    {% endif%}
</body>
</html>
