<html>
<head>
    <title>Recipes</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <link rel="icon"
      type="image/png"
      href="{{ url_for('images', path='/favicon.ico') }}">
</head>
<body class="planner_page">
    <div class="menu">
        <form method="post" action="reload_resources">
            <input type="submit" value="Reload Res"/>
        </form>
        <form method="get" action="items">
            <input type="submit" value="I want Crafting"/>
        </form>
        <form method="get" action="mines">
            <input type="submit" value="I want Mining"/>
        </form>
    </div>

    <div class="in_planner">
        <!-- Block with mines output -->
        <div>
            <div class="header">Define everything:</div>
            <form method="post" action="planner">
                <select name="res">
                </select>
                <input type="number" name="count" value=""/>
                <input type="submit"/>
            </form>
        </div>
        <!-- Block with smelting output -->
        <div>
            <div class="header">Define smelting (max=8):</div>
            <form method="post" action="planner">
                <select name="res">
                </select>
                <input type="number" name="count" value=""/>
                <input type="submit"/>
            </form>
        </div>
        <!-- Block with crafting output -->
        <div>
            <div class="header">Define crafting (max=8):</div>
            <form method="post" action="planner">
                <select name="res">
                </select>
                <input type="number" name="count" value=""/>
                <input type="submit"/>
            </form>
        </div>

    </div>




</body>
</html>
