{% import "macros.jinja" as macros %}
<html>
<head>
    <title>Recipes</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <link rel="icon"
      type="image/png"
      href="{{ url_for('images', path='/favicon.ico') }}">
</head>
<body class="planner_page">
    {{ macros.menu() }}
    <div class="in_planner">
        <!-- <form method="get" action="download_planner">
                <input type="submit" value="Download input data"/>
        </form> -->
        <form method="get" action="upload_planner">
            <input type="submit" value="upload_data">
        </form>

        <form method="get" action="planner">
            <input type="submit" value="evaluate"/>
            <div class="two-col">
                <div>
                    <!-- Block with smelting input -->
                    <div class="light-bound">
                        <div class="header">Smelting</div>
                        <div class="two-col">
                        {{ macros.several_dropdown_inputs(recipes_for_dropdown,smelting, "smelting") }}
                        <div class="out">
                        </div></div>
                    </div>
                    <!-- Block with crafting input -->
                    <div  class="light-bound">
                        <div class="header">Crafting:</div>

                        <div class="two-col">
                            {{ macros.several_dropdown_inputs(recipes_for_dropdown, crafting, "crafting") }}
                        <div class="out">
                        </div></div>
                    </div>
                    <!-- Block with chemistry input -->
                    <div  class="light-bound" >
                        <div class="header">Chemistry:</div>
                        <div class="two-col">
                            {{ macros.several_dropdown_inputs(recipes_for_dropdown,chemistry, "chemistry") }}
                            <div class="out">
                        </div></div>
                    </div>
                    <div  class="light-bound">
                        <div class="header">Jewelling:</div>
                        <div class="two-col">
                            {{ macros.several_dropdown_inputs(recipes_for_dropdown, jewelling, "jewelling") }}
                            <div class="out">
                        </div>
                        </div>
                    </div>
                    <div  class="light-bound">
                        <div class="header">Planting:</div>
                            <div class="two-col">
                            {{ macros.several_dropdown_inputs(recipes_for_dropdown, planting, "planting") }}

                            <div class="out">

                            </div>
                            </div>
                    </div>
                </div>

                <div  class="light-bound">
                    <!--  Part for mines-->
                    <div class="header">Mines</div>

                    <div class="div_input">
                        <label> Count:
                        <input type="number" name="count_of_mines" value="{{ count_of_mines }}"/></label>
                    </div>
                    <div class="header">
                        &nbsp&nbsp&nbspMineLvl&nbsp&nbsp&nbsp&nbsp&nbsp&nbspArea</div>
                    {% for area, lvl in mines.items() %}
                    <div>
                        <input type="number" value="{{ lvl }}" class="xsmall_input" name="minelvl_{{ area }}" max="9" />
                        <input type="number" value="{{ area }}" class="small_input" name="minearea_{{ area }}" max="120"/>
                    </div>
                    {% endfor %}
                    {% if  count_of_mines > (mines |length) %}
                    {% for number in range(count_of_mines - (mines |length)) %}
                     <div>
                         <input type="number" value="" class="xsmall_input" name="minelvlN_{{ number }}" max="9"/>
                         <input type="number" value="" class="small_input"  name="mineareaN_{{ number }}" max="120"/>
                    </div>
                    {% endfor %}
                    {% endif %}

                </div>
            </div>
            <input type="submit"/>
        </form>

    </div>


    {% if result %}

    <div class="out">
        <table class="planning">

            <th>Resource</th>
            <th>1hour</th>
            <th>8hours</th>
            <th>24hours</th>

        {% for speed, quantity_1h, quantity_8h, quantity_1d in result  %}

            <tr >
        {% set img_url = (speed.item.key|lower|replace('_', '-') | replace('
                ', '-'))  ~ '.png' %}
                <td>
                    <img src="{{ url_for('images', path=img_url) }}" alt="{{ item }}" width="25">
        {% if speed.speed < 0 %}
            <b> {{ speed }} </b>
        {% else %}
             {{ speed }}
        {% endif %}
                </td>
                <td> {{ quantity_1h }} </td>
                <td> {{ quantity_8h }} </td>
                <td> {{ quantity_1d }} </td>
            </tr>
        {% endfor %}
        </table>
    </div>
    {% endif%}

</body>
</html>
